<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="footer-img" src="./assets/logo.jpg" height="80px" width="80px">
        <p class="lead text-white small mt-4">
          E, aí! Gostou? Continua vindo nos visitar, compartilha nosso BLOGlar.
          Entretenimento e informática, de forma descontraída, você encontra em um só lugar.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="footer-title">Links Rápidos</h3>
        <ul class="text-white">
          <li><a href="https://www.faculdadeevolucao.edu.br/" target="_blank" class="text-white">Faculdade Evolução</a></li>
          <li><a href="https://github.com/" target="_blank" class="text-white">GitHub</a></li>
          <li><a href="https://www.udemy.com/" target="_blank" class="text-white">Udemy</a></li>
          <li><a href="https://www.alura.com.br/?gclid=CjwKCAiA8ejuBRAaEiwAn-iJ3ta77W6WWgyF-vd93qQeBPT34gskWSkCIrS8bdCwz7GhmdUDAKTL7BoCgOoQAvD_BwE" target="_blank" class="text-white">Alura</a></li>
          <li><a href="https://travis-ci.com/" target="_blank" class="text-white">Trevis CI</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="footer-title">Contatos</h3>
        <p class="lead text-white small">
          Gostou do assunto? Tem alguma idéia que queira compartilhar? <br> 
          Fale com agente, estamos ansiosos para falar com você :)
        </p>
        <ul style="list-style: none; margin-left: -40px;" class="text-white">
          <li><i class="fa fa-map-marker text-warning mr-2"></i>Rua padre galvão, nº41</li>
          <li><i class="fa fa-phone text-warning mr-2"></i>(85) 3496-0070</li>
          <li><i class="fa fa-envelope-o text-warning mr-2"></i>rsb.1296@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<section class="bg-extreme-dark">
  <div class="container">
    <div class="row justify-content-around pt-3">
      <p class="text-white">&copy; Todos direitos reservados - Raquel Barra</p>
      <ul class="redes-social text-white text-center">
        <li class="facebook">
          <a  href="https://www.facebook.com/raquelsantosbarra" target="_blank" class="text-white"><i class="fa fa-facebook-official fa-3x"></i></a>
        </li>
        <li class="instagram">
          <a href="https://www.instagram.com/raquelbarra_/?hl=pt-br" target="_blank" class="text-white"><i class="fa fa-instagram fa-3x"></i></a>
        </li>
        <li class="facebook">
          <a href="https://br.linkedin.com/in/raquel-barra?trk=people-guest_profile-result-card_result-card_full-click" target="_blank" class="text-white"><i class="fa fa-linkedin-square fa-3x"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
