footer{
    background-color: #002147;
    margin-top: 20px;
    padding-top: 20px;
}
.footer-img{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}
.footer-title{
    color: #fff;
    font-size: 25px;
}
.footer-title:after{
    content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #fff;
	margin: 6px 0 12px 0;
}
.bg-extreme-dark
{
    background-color: #01070d;
    color: white;
}