<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img style="display: block; margin-left: auto; margin-right: auto;" src="./assets/logo.jpg" height="80px" width="80px">
        <p class="lead text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="footer-title">Links Rápidos</h3>
        <ul class="text-white">
          <li><a>Links</a></li>
          <li><a>Links</a></li>
          <li><a>Links</a></li>
          <li><a>Links</a></li>
          <li><a>Links</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="footer-title">Contatos</h3>
        <p class="lead text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make
        </p>
        <ul style="list-style: none; margin-left: -40px;" class="text-white">
          <li><i class="fa fa-map-marker text-warning mr-2"></i>Rua padre galvão, nº41</li>
          <li><i class="fa fa-phone text-warning mr-2"></i>(85) 3496-0070</li>
          <li><i class="fa fa-envelope-o text-warning mr-2"></i>rsb.1296@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<section class="bg-success">
  <div class="container">
    <div class="row justify-content-around pt-3">
      <p class="text-white">&copy; Todos direitos reservados - Raquel Barra</p>
      <ul class="redes-social text-white text-center">
        <li class="facebook">
          <a><i class="fa fa-facebook-official fa-3x"></i></a>
        </li>
        <li class="instagram">
          <a><i class="fa fa-instagram fa-3x"></i></a>
        </li>
        <li class="facebook">
          <a><i class="fa fa-linkedin-square fa-3x"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
