<app-header *ngIf="blog" [name]="blog.name"></app-header>
<div style="height: 100vh; width: 100%; background: url('./assets/banner1.jpeg') no-repeat center; background-size: cover;">
  <div class="carousel-caption">
    <div class="row justify-content-center animated zoomInUp">
      <div class="form-row bg-light p-3 rounded">
        <h3 class="text-danger font-weight-bold">Bem-vindo(a), ao <span class="text-dark"> Notas da Barra </span>!</h3>
        <p class="lead text-left text-dark mt-3">
          Chega no nosso cantinho, e, se sinta bem a vontade. <br> Esperamos que encontre oportunidades e,
          condições de aprender e crescer. <br>
          Abstrai a mente, e, vem com a gente nessa nova jornada. <br>
          Estamos felizes por ter você aqui conosco!
        </p>
      </div>
    </div>
  </div>
</div>
<section style="width: 100%; background: url('./assets/bg78.jpg') no-repeat center; background-size: cover;">
  <div class="container mt-3">
    <div class="row ">
      <div class="col-md-6">
        <h1>Sobre nós</h1>
        <p class="lead">
          No mundo de hoje, a tecnologia ficou quase indispensável para nossa rotina.
          Prova disso, é você, que neste exato momento está usando um dispositivo móvel,
          para conhecer um pouco sobre nosso mundo.
          E, tudo bem! na verdade, continua, e, venha nos conhecer!
        </p>
        <p class="lead">
          Notas da Barra não foge desse percurso, formado por um povo que ama tecnologia,
          e, ama misturá-la com fatos do cotidiano. Criando crônicas, artigos, que sempre tem uma 
          pitada de tecnologia citada. Além de cards (notinhas específicas da barra), que nem
          sempre está relacionada à informática, mas, que mostra um pouco da nossa essência.
          Conhecimento, diversão e tecnologia, você encontra aqui.
          Esperamos que gostem, tanto quanto nós amamos escrever!
        </p>
        <button class="btn btn-outline-warning btn-rounder">Saiba Mais...</button>
      </div>
      <div class="col-md-6 align-items-end">
        <div class="card shadow card-news p-2" *ngIf="posts">
          <h3 class="mb-3 text-white">Ultimas postages</h3>
          <ng-container *ngFor="let post of posts">
            <span class="text-warning">{{post.published | date:'fullDate'}}</span>
            <strong class="text-white-50">{{post.title}}</strong>
            <div class="row justify-content-between pr-3 pl-3">
              <span class="text-white">{{post.author.displayName == 'Unknown' ? "Anonimo" : post.author.displayName}}</span>
              <a [href]="post.author.url" target="_blank"><img [src]="post.author.image.url"></a>
            </div>
            <a [href]="post.url" target="_blank" class="text-white mt-3 mb-3">Saiba Mais...</a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-search">
  <div class="container">
    <div class="form-group">
      <input [(ngModel)]="pesquisa.title" class="form-control" placeholder="Faça sua pesquisa :)">
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3 class="search-title text-center">Todas Postages</h3>
    <div class="row justify-content-around">
      <div class="col-md-4" *ngFor="let post of allPosts | filterBy: pesquisa">
        <div class="card shadow card-equipe m-1 p-2 animated fadeIn">       
          <a [href]="post.author.url" target="_blank">
            <img style="margin-bottom: 10px; display: block; margin-right: auto; margin-left: auto; width: 45px; height: 45px;" [src]="post.author.image.url">
          </a>
          <h3 class="text-center">{{post.title}}</h3>
          <p class="lead">
            {{post.title}}
          </p>
          <span class="text-danger">{{post.published | date:'fullDate'}}</span>
          <a class="btn btn-dark btn-rounder mt-3" routerLink="detalhe/{{post.id}}">Clique aqui...</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-contato">
  <div class="container">
    <div class="row align-self-center mt-auto">
      <div class="col-md-6">
        <h1 class="text-white">Fale com agente!</h1>
        <p class="lead text-white">
          Gostou do assunto? Tem alguma idéia que queira compartilhar? <br> 
          Fale com agente, estamos ansiosos para falar com você :)
        </p>
      </div>
      <div class="col-md-6 align-items-end">
        <div class="card shadow">
          <div class="row justify-content-center bg-extreme-dark p-1 m-0 rounded">
            <h3 class="text-white">Contato</h3>
          </div>
          <ul style="list-style: none; margin-left: -40px;" class="text-black-50 text-center mt-3">
            <li><i class="fa fa-phone text-warning mr-2"></i>(85) 98910-0122</li>
            <li><i class="fa fa-envelope-o text-warning mr-2"></i>rsb.1296@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-equipe">
  <div class="container">
    <h3 class="equipe-title font-weight-bold mt-2 text-center">Equipe</h3>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="card shadow card-equipe m-1">
          <div class="row m-1">
            <div class="col-md-2 align-self-center">
              <img style="display: block; margin-right: auto; margin-left: auto;" src="./assets/ismael.jfif">
            </div>
            <div class="col">
              <h1 class="text-center">Ismael Alves</h1>
              <p class="lead">
                Olá sou Ismael sou desenvolvedor a 3 anos já trabalhei com diversas tecnologias para 
                desenvolvimento web e mobile mais atual Angular, flutter, nodejs e etc.
              </p>
              <div class="row justify-content-end">
                <ul class="redes-social">
                  <li class="facebook ">
                    <a href="https://www.facebook.com/ismael.alves.ximenes" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>
                  </li>
                  <li class="instagram">
                    <a href="https://www.instagram.com/ismael.alves.ximenes/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
                  </li>
                  <li>
                    <a href="https://github.com/ismaelalvesgit" target="_blank"><i class="fa fa-github-alt fa-3x"></i></a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card shadow card-equipe m-1">
          <div class="row m-1">
            <div class="col-md-2 align-self-center">
              <img style="display: block; margin-right: auto; margin-left: auto;" src="./assets/raquel.jfif">
            </div>
            <div class="col">
              <h1 class="text-center">Raquel Santos</h1>
              <p class="lead">
                  Olá xofem! Sou Desenvolvedora web. AMO DEMAIS PHP.
                  Super adepta à novas linguagens. Um lado desenvolvedora outro lado palestrantes, e, sempre compartilhando o lema: Informática por amor🎓💞
              </p>
              <div class="row justify-content-end">
                <ul class="redes-social">
                  <li class="facebook">
                    <a href="https://www.facebook.com/raquelsantosbarra" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>
                  </li>
                  <li class="instagram">
                    <a href="https://www.instagram.com/raquelbarra_/?hl=pt-br" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
                  </li>
                  <li class="facebook">
                    <a href="https://br.linkedin.com/in/raquel-barra?trk=people-guest_profile-result-card_result-card_full-click" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-3">
  <div class="container">
    <div class="row justify-content-around patrocinador">
      <a href="https://phpcomrapadura.org/" target="_blank"><img src="./assets/php.png"></a>
      <a href="https://www.facebook.com/pg/frontendce/posts/" target="_blank"><img src="./assets/front-end.png"></a>
      <a href="https://juventude.fortaleza.ce.gov.br/rede-cuca" target="_blank"><img src="./assets/rede-cuca.jfif"></a>
      <a href="https://flutterando.com.br/" target="_blank"><img src="./assets/flutterando.jfif"></a>
      <a href="https://fcb3x3.com.br/" target="_blank"><img src="./assets/basquete.png"></a>
      <a href="https://www.fortaleza.ce.gov.br/" target="_blank"><img src="./assets/prefeitura.png"></a>
    </div>
  </div>
</section>
<app-footer></app-footer>