<header id="master-header" (scroll)="onWindowScroll($event);">
  <nav id="navbar" class="top-header navbar navbar-expand-lg navbar-light bg-menu">
    <div class="container d-flex justify-content-between">
      <p class="navbar-brand d-flex align-items-center text-w text-white">
        <a href="#"> 
          <img src="./assets/logo.jpg" class="logo" style="display: block; margin-left: auto; margin-right: auto;" height="80px" width="80px">
        </a>
      </p>  
      <div class="d-flex align-content-end text-white">
        <h4>{{name}}</h4>
      </div>
    </div>
  </nav>
</header>