/*------------------------------
	menu 
--------------------------------*/
#master-header {
    position: relative;
    background-color: #121212;
    text-align: center;
    z-index: 11;
}
.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 999;
}
.logo {
    float: left;
    margin: 5px;
    height: 80px;
    line-height: 1;
    border-radius: 50%;
    -webkit-transition: margin 0.6s, height 0.6s;
    -moz-transition: margin 0.6s, height 0.6s;
    -ms-transition: margin 0.6s, height 0.6s;
    -o-transition: margin 0.6s, height 0.6s;
    transition: margin 0.6s, height 0.6s;
}
.top-header > .container  {
    position: relative;
    height: 100px;
    -webkit-transition: height 0.6s, line-height 0.6s;
    -moz-transition: height 0.6s, line-height 0.6s;
    -ms-transition: height 0.6s, line-height 0.6s;
    -o-transition: height 0.6s, line-height 0.6s;
    transition: height 0.6s, line-height 0.6s;
}
.sticky .top-header {
    background:  rgba(0,0,0,0.9);
    border: 0;
    z-index: 11;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
.sticky .top-header > .container  {
    height: 80px;
    line-height: 25px;
}
.sticky #nav-menu ul a{
    color: #fff;
}
.sticky #nav-menu li ul a{
    color: #000;
}
.sticky #nav-menu li ul a:hover{
    color: #4d7df0;
}
.sticky .logo {
    margin-top: 10px;
    height: 75px;
}